{% extends "layout.jinja2" %}
.0
{% block page_includes %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.js"></script>
{{ bokeh_script |safe }}
{% endblock page_includes %}

{% block content %}
  <div class="row">
    <div class="col-8 col-sm-6">
    </div>
    <div class="col-4 col-sm-6">
      <p style="text-align:right"><a href="/period/add">Add new</a></p>
    </div>
  </div>

{{ bokeh_div |safe }}
{% endblock content %}
