{% extends "layout.jinja2" %}

{% block content %}

  <div class="row">
    <div class="col-8 col-sm-6">
      {{rides.count()}} total rides
    </div>
    <div class="col-4 col-sm-6">
      <p style="text-align:right"><a href="/rides/add">Add new</a></p>
    </div>
  </div>

{{page.pager(url="/period/list?page=$page")|safe}}

<table class="data_table">
<tr>
<th></th>
<th>Date</th>
<th>Temperature</th>
<th>Period</th>
<th>Cervical fluid</th>
<th>Remarks</th>
</tr>
{% for period in page.items %}
<tr>
<td><a href="/period/{{period.id}}/edit">edit</a></td>
<td>{{period.date}}</td>
<td>{{period.temperature.temperature if period.temperature.temperature else ''}}</td>
<td>{{period_intensity_choices[period.period_intensity]}}</td>
<td>{{cervical_fluid_choices[period.cervical_fluid_character]}}</td>
<td>{{period.notes if period.notes else ''}}</td>
</tr>
{% endfor %}
</table>

{{page.pager(url="/period/list?page=$page")|safe}}

{% endblock content %}
